{% extends "layout.html" %} {% block body %}

<div class="container" style="margin-top: 15rem">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }} Go to <a href="/families">Families</a>
    </div>
    {% endif %} {% endwith %}
    <div>
        <form action="/" method="post" enctype="multipart/form-data">
            <input
                id="name"
                name="name"
                type="text"
                placeholder="Name"
                autocomplete="off"
            />
            <input
                id="family_name"
                name="family_name"
                type="text"
                placeholder="Family Name"
                autocomplete="off"
            />
            <button type="submit">Add Member</button>
        </form>
        <form action="/" method="get">
            <input id="q" name="q" type="text" placeholder="Search" />
            <button type="submit">Search</button>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Family Name</th>
            <th>Check-in/out</th>
            <th>Delete</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.family_name }}</td>
            <td>
                {% if row.status == True %}
                <form action="/check" method="post">
                    <input
                        type="hidden"
                        value="{{ row.id }}"
                        id="id"
                        name="id"
                    />
                    <button>Check-out</button>
                </form>
                {% else %}
                <form action="/check" method="post">
                    <input
                        type="hidden"
                        value="{{ row.id }}"
                        id="id"
                        name="id"
                    />
                    <button>Check-in</button>
                </form>
                {% endif %}
            </td>
            <td>
                <form action="/delmember" method="post">
                    <input
                        type="hidden"
                        value="{{ row.id }}"
                        id="del_id"
                        name="del_id"
                    />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}
