{% extends "layout.html" %} {% block body %}

<div class="container text-center" style="margin-top: 15rem"
    <p class="h1">Log-in</p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-danger" role="alert">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form action="/login" method="post">
        <div class="mb-1">
            <input
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                autocomplete="off"
                class="form-control"
            />
        </div>
        <div class="mb-1">
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                autocomplete="off"
                class="form-control"
            />
        </div>
        <div class="mb-1">
            <input type="password" id="again" name="again" placeholder="Password (again)" autocomplete="off" class="form-control"/>

        <div class="form-check-inline">
            <input type="checkbox" id="remember" name="remember" class="form-check-input me-1"/>
            <label for="remember" class="form-check-label">Remember me</label>
        </div>
        <div class="mt-2">
        <button type="submit" class="btn btn-primary">Log-in</button>
        </div>
    </form>
</div>

{% endblock body %}
