{% extends "layout.html" %}{% block body %}
<form action="/user" method="post">
    <input
        type="password"
        name="oldpass"
        id="oldpass"
        placeholder="Old Password"
    />
    <input
        type="password"
        name="newpass"
        id="newpass"
        placeholder="New Password"
    />
    <input
        type="password"
        name="again"
        id="again"
        placeholder="New Password (again)"
    />
    <button type="submit">Change password</button>
</form>

{% endblock body %}
